body {
    margin: 0;
    font-family: "Arial";
    background-color: #8dc63f;

}

.wrapper {

    padding: 0 15px;
    background-color: white;
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;

}

.header {
    display: flex;
    justify-content:center;
    padding: 25px 0;
    row-gap: 20px;
    flex-wrap: wrap;
}

.titlebox {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
}

.titlebox p,
img {
    
    font-size: 22px;
    color: #39930d;
    margin: 0;



}

.titlebox img {
    margin:0 35px;

}

.titlebox img:hover {
    margin-left: 200px;
    transition: all 3s ease;
}

.titlebox b {
    display: block;
    font-size: 44px;
    color: #39930d;
}

.titlebox i {
    font-size: 14px;
    color: #5a5a5a;
}

.contacts p {
    margin: 0;
    font-size: 22px;
    color: #39930d;
}

.contacts i {
    margin: 10px;
    font-size: 14px;
    color: #5a5a5a;
}

.contacts {
    display: flex;
    text-align: center;
}

.main-picture {
    width: 100%;
    min-height: 200px;
    object-fit: cover;
    object-position: 75%;
}
.main {
    flex-wrap: wrap;
}

.info h1 {
    font-size: 24px;
    color: #39930d;
    font-weight: bold;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info {
    padding-bottom: 30px;
    font-size: 14px;
}
.menubox{
     
min-width: 290px;
width: 100%;
}

.menubox p {
    
    padding: 11px 20px;
    background-color: #39930d;
    font-size: 18px;
    color: #fff;
    font-family: "Arial";
}

.menubox ul {
    padding-left: 20px;
    list-style: none;
}

.menubox a {
    display: block;
    font-size: 14px;
    line-height: 30px;
    text-decoration: underline;
    color: #39930d;
    text-transform: uppercase;
}

.menubox a:hover {
    color: #fff;
    background-color: #8dc63f;
    text-decoration: none;
    transition: padding  2s ease;
}

.copyrite {
    margin: 0 -15px;
    padding: 15px;
    background-color: #39930d;
    font-size: 14px;
    color: #fff;
}

@media screen and (min-width:425px){

    .titlebox{
         text-align: left;
    }
    .contacts p{
        text-align: right;
    }
}
@media screen and (min-width:625px){
    .header{
        justify-content: space-between;
    }
    .contacts i{
        text-align: center;
    }
}
@media screen and (min-width:700px) {
    .content{
        flex-wrap:nowrap ;
    }
    .text{
        max-width: 600px;
    }

}
 